{% extends "APIBASE.html" %}
{% set id = "getStopsOfLine" %}
{% block URL %}
    /lines/{entity_number}/{line_number}/{direction}
{% endblock %}
{% block description %}
    Will return all stops of a certain line.<br>
    <b>Parameters</b>
    <ul>
        <li>entity_number: positive integer</li>
        <li>line_number: positive integer</li>
        <li>direction: string. Can only be "HEEN" or "TERUG"</li>
    </ul>
    If the function succeeds, the response code will be <span class="status-success">200</span>.
{% endblock %}
{% block example_response %}
URL: /lines/1/253/HEEN
[
    ...
    {
        "number": 107809,
        "desc": "Kerkhof",
        "village": "Oppuurs",
        "latlng": [
            51.07022693785234,
            4.252991607174736
        ]
    },
    {
        "number": 104449,
        "desc": "Zeutestraat",
        "village": "Puurs",
        "latlng": [
            51.07329594009163,
            4.266924020775759
        ]
    },
    ...
]
{% endblock %}